body {
  background-color: #5B7894;
  display: grid;
  font-family: "Quicksand", sans-serif;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "header header"
    "image image"
    "aside main";
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: auto;
}

h2 {
  color: #84C8A4;
  margin: 10px 0px 10px 0px;
}

aside {
  background-color: white;
  display: flex;
  justify-content: center;
  height: auto;
  text-align: center;
}

.wrap {
  background-color: white;
  height: 100vh;
  padding: 10px;
  position: relative;
  width: 200px;
}

ul {
  list-style-type: none;
  text-align: left;
  padding-left: 35px;
}

li {
  margin: 2px;
}

main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.show-pantry-recipes-btn,
.show-all-btn,
.filter-btn {
  background-color: #359567;
  border: 0;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-size: 12pt;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
}

.show-pantry-recipes-btn {
  margin-top: 10px;
}


// body
.show-all-btn {
  height: 40px;
  margin-top: 20px;
  width: 200px;
}
// body
.filter-btn:hover {
  background-color: #84C8A4;
}


/* PANTRY LIST */
// body
.drop-menu {
  align-items: center;
  background-color: #DAE4EE;
  display: none;
  height: 600px;
  margin-left: 81%;
  margin-top: 92px;
  overflow: scroll;
  padding: 12px;
  position: absolute;
  text-align: center;
  width: 250px;
  z-index: 3;
}

// body
.drop-menu h2 {
  color: #359567;
  margin: 0px;
}

// body
.pantry-list {
  color: #000000;
  padding-left: 15px;
  text-align: left;
}

//body
.block {
  display: block;
}


//body
.hidden {
  display: none;
}
