body {
  background-color: $blueish-gray;
  font-family: "Quicksand", sans-serif;
  grid-template-areas:
    "header header"
    "image image"
    "aside main";
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: auto;
}

main {
  background-color: $blueish-gray;
  grid-area: main;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: row;
}

.all-recipe-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h2 {
  color: $light-green;
  margin: 10px 0px 10px 0px;
}

aside {
  background-color: white;
  display: flex;
  height: auto;
  text-align: center;
}

.wrap {
  padding: 10px;
  position: relative;
  width: 200px;
}

ul {
  list-style-type: none;
  text-align: left;
  column-count: 1;
}

li {
  display: flex;
  margin: 2px;
}

.filter-btn {
  background-color: $green;
  border: 0;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-size: 12pt;
  font-weight: bold;
  padding: 5px 10px 5px 10px;

  &:hover {
    background-color: $light-green;
  }
}

/* PANTRY LIST */
// body
.drop-menu {
  background-color: #DAE4EE;
  height: 70vh;
  overflow: scroll;
  padding: 10px;
  position: absolute;
  right: 2%;
  width: 250px;
  z-index: 3;
  @include flex-column(); 
  
  & h2 {
  color: $green;
  margin: 0px;
  }
}

.pantry-list {
  color: #000000;
  padding-left: 15px;
  text-align: left;
}

@media screen and (max-width: 550px) {
  
  aside {
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .wrap {
    display: flex;
    flex-direction: column;
  }

  ul {
    column-count: 2;
    column-gap: 10em;
    column-width: auto;
    
  }
  
  main {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;
  }
  
  .all-recipe-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}

//body
.hidden {
  display: none;
}