h1 {
  align-self: center;
  color: white;
  font-family: "Sulphur Point", sans-serif;
  font-size: 50px;
  margin: 0%;
  padding: 0.5% 0.7% 0%;
  width: 70%;
}

header {
  display: flex;
  flex-direction: row;
  grid-area: header;
  padding: 0% 0%;
  width: 100%;
}

span {
  color: $yellow;
  font-weight: 400;
}

.header-apple-icon {
  height: 40px;
  margin-left: 5px;
  width: 35px;
}

#search-input {
  background-color: #b6dcca;
  background: -webkit-gradient( linear,left top, left bottom, color-stop(0, rgb(255, 255, 255)), color-stop(1, rgb(225,225,225)));
  border-radius: 10px 0px 0px 10px;
  border: none;
  box-shadow: inset -3px -1px 20px 1px #5c7894;
  color: $blueish-gray;
  font-family: "Quicksand", sans-serif;
  font-size: 42px;
  height: 100%;
  outline: none;
  padding: 0% 2% 0% 0%;
  text-align: right;
  transition: .8s ease;
  width: 100%;
}

#search-input:hover {
  box-shadow: inset 0px 0px 0px 0px white;
  transition: .8s ease;
}

#search-input:focus {
  box-shadow: inset 0px 0px 0px 0px white;
}

#search-input::placeholder {
  color: $blueish-gray;
  font-size: 20px;
  text-align: right;
  text-shadow: none;
}

#search-input:focus::placeholder {
  font-size: 0px;
  transition: .8s ease;
}

.search-label {
  display: none;
}

.search-btn {
  border-left: 3px outset $yellow;
  border-radius: 0px 15px 15px 0px;
  padding: 1%;
}

.nav-btn {
  align-items: center;
  background: $blueish-gray no-repeat;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 0px;
  font-weight: 700;
  justify-content: center;
  margin: 0%;
  outline: none;
  overflow: hidden;
  text-align: center;
  transition: .4s ease;
  width: 15%;
}

.nav-btn:hover {
  color: $yellow;
  font-size: 14px;
  text-shadow: 0px 2px 4px black;
  transition: .4s ease;
}

.nav-btn img {
  max-height: 40px;
  max-width: 40px;
  padding: 2px 0px;
}

.saved-ingredients-btn {
  border-left: 3px solid $yellow;
}

.ing-pan-btn {
  margin: 1% 0%;
  padding: 1px 6px 5px 0px;
}

.banner-image {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("../images/green-apples.jpg");
  grid-area: image;
  height: 150px;
  overflow: hidden;
  width: 100%;
}

.my-recipes-banner,
.welcome-msg {
  text-align: center;
  width: 95%;
}

.my-recipes-banner h1,
.welcome-msg h1 {
  color: white;
  width: 100%;
}

.my-recipes-banner {
  display: none;
  margin-top: 25px;
}

.welcome-msg {
  margin-top: 50px;
}
