header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: header;
  padding: 0% 0%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

// logo
span {
  color: $yellow;
  font-weight: 400;
}

h1 {
  align-self: center;
  color: white;
  font-family: "Sulphur Point", sans-serif;
  font-size: 50px;
  margin: 0%;
  padding: 0.5% 0.7% 0%;
}

.header-apple-icon {
  height: 40px;
  margin-left: 5px;
  width: 35px;
}

//search 
.search-container {
  display: flex;
  flex-direction: row;
}

.search {
  border-radius: 15px 15px 15px 15px;
  border: 3px outset #C4EB67;
  box-shadow: 0px 0px 7px 0px #475d74;
  font-family: "Quicksand", sans-serif;
  justify-content: center;
  margin: 1.2% 0.5% 1.2% 0%;
  width: 200px;
}

//nav
.nav-container{
  display: flex;
  align-self: center;
}

.nav-btn {
  background: $blueish-gray;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0px;
  overflow: hidden;
  width: 70px;
  transition: .4s ease;
  @include flex-center();
  @include flex-column();

  &:hover {
  font-weight: 700;
  color: $yellow;
  font-size: 14px;
  text-shadow: 0px 2px 4px black;
  transition: .4s ease;
  }
}

.nav-btn img {
  height: 40px;
  width: 40px;
  padding: 2px 0px;
}

.search-btn img {
  padding: 0px;
  height: 25px;
  width: 25px;

  &:hover {
    height: 30px;
    width: 30px;
  }
}

.banner-image {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("../images/green-apples.jpg");
  grid-area: image;
  height: 150px;
  overflow: hidden;
  width: 100%;
}

.my-recipes-banner,
.welcome-msg {
  text-align: center;
  width: 95%;
}

.my-recipes-banner h1,
.welcome-msg h1 {
  color: white;
  width: 100%;
}

.welcome-msg,
.my-recipes-banner {
  margin-top: 50px;
}

@media screen and (max-width: 550px) {

  // logo
  span {
    color: $yellow;
    font-weight: 400;
  }

  h1 {
    align-self: center;
    color: white;
    font-family: "Sulphur Point", sans-serif;
    font-size: 25px;
    margin: 0%;
    padding: 0.5% 0.7% 0%;
  }

  .header-apple-icon {
    height: 20px;
    margin-left: 5px;
    width: 17px;
  }

  .nav-btn img {
  height: 20px;
  width: 20px;
  padding: 2px 0px;
}

}
