$blueish-gray: #5B7894;
$green: #1f3f30;
$light-green: #457059;
$yellow: #C4EB67;

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-center() {
  align-items: center;
  justify-content: center;
}
